body {
  padding-left: 12em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: white;
  background-color: #0e00a6 }


ul.entrance {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
